@model User

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form asp-controller="Admin" asp-action="UpdateUser" method="post">
                <input asp-for="Id" hidden="hidden" />

                <div class="form-group">
                    <label asp-for="Name">ФИО</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmailAddress">E-mail</label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Пароль</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RoleId">Роль</label>
                    <select asp-for="RoleId" class="form-control" asp-items="ViewBag.Roles"></select>
                </div>
                <div class="form-group">
                    <input asp-for="Id" class="form-control" hidden="hidden" />
                </div>
                <div class="form-group m-3 text-center">
                    <input type="submit" value="Сохранить" class="btn btn-success" />

                    
                </div>
            </form>
            @{
                if (Model.Id != Guid.Parse("166F4B58-F165-4A72-AB5B-B2406C80D751"))
                {
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <form asp-controller="Admin" asp-action="DeleteUser" method="post">
                            <input asp-for="Id" hidden="hidden" />
                            <input type="submit" value="Удалить" class="btn btn-danger" style="margin-right: 10px;" />
                        </form>

                        <form asp-controller="Admin" asp-action="Index" method="post">
                            <input type="submit" value="Назад" class="btn btn-outline-dark" />
                        </form>
                    </div>
                }
                else
                {
                    <div style="display: flex; justify-content: center;">
                        <form asp-controller="Admin" asp-action="Index" method="post">
                            <input type="submit" value="Назад" class="btn btn-outline-dark mr-2" />
                        </form>
                    </div>
                }
            }

        </div>
        <div class="col-md-4"></div>
    </div>
</div>
